.bodyText {
    background-color:rgb(255, 245, 238);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: navy;
    overflow-x: hidden;
}
.navigation {
    display: flex;
    background-color: rgb(236, 219, 205);
    width: 100%;
    justify-content: space-around;
    margin: 10px;
    padding: 25px;
}
.listOfLists {
    flex-basis: 0;
    display: flex;
    flex-flow: row;
    padding: 10px;
    justify-content: space-evenly;
}
.countryImage {
    display: flex;
    justify-content: space-evenly;
}
footer {
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    display: flex;
    justify-content: center;
    margin: 30px;
}
h1 {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;

}
.lists {
    background-color: rgb(236, 219, 205);
    padding: 20px;
    flex-basis: 20%;
    border-radius: 10%;
}
.nav-link {
    font-size: 40px;
    padding: 25px;
    color: navy;
    text-decoration: none;
}
.nav-link-active {
    background-color:rgb(173, 156, 141);
    font-size: 40px;
    padding: 25px;
    color: navy;
    text-decoration: none;
    border-radius: 10%;
}
.headerText {
    font-size: 55px;
    display: flex;
    justify-content: center;
    font-weight: bold;
}
.logoImage {
    display: flex;
    justify-content: center;
}